template(name="commentSubmit")
  .comment-wrapper
    .row-fluid
      textarea.comment-submit(placeholder="댓글은 추가적인 정보를 요쳥, 지적하거나 개선점을 말하는 등에 사용해주세요. 감사합니다, 추천, 등의 단답 댓글은 피해주세요.")
      button.btn.btn-green.btn-comment
        | 확인
        .loader
    .row-fluid
      span.info-count 최소 15자를 입력해주세요

template(name="commentAnswerSubmit")
  .comment-wrapper
    .row-fluid
      textarea.comment-answer-submit(placeholder="댓글은 추가적인 정보를 요쳥, 지적하거나 개선점을 말하는 등에 사용해주세요. 감사합니다, 추천, 등의 단답 댓글은 피해주세요.")
      button.btn.btn-green.btn-comment-answer
        | 확인
        .loader
    .row-fluid
      span.info-count 최소 15자를 입력해주세요

