template(name="voting")
  .voting-wrapper
    a(class="upvote {{upvotedClass}}")
      span.glyphicon.glyphicon-triangle-top

    span.voteCount-container {{votes}}
    a(class="downvote {{downvotedClass}}")
      span.glyphicon.glyphicon-triangle-bottom

template(name="votingAnswer")
  .voting-wrapper
    a(class="upvote {{upvotedClass}}")
      span.glyphicon.glyphicon-triangle-top

    span.voteCount-container {{votes}}
    a(class="downvote {{downvotedClass}}")
      span.glyphicon.glyphicon-triangle-bottom