template(name="voting")
  .voting-wrapper.post
    button(class="upvote")
      span.glyphicon.glyphicon-triangle-top
    .voteCount-container
      span 112
    button(class="downvote")
      span.glyphicon.glyphicon-triangle-bottom

template(name="votingAnswer")
  .voting-wrapper
    button(class="upvote")
      span.glyphicon.glyphicon-triangle-top
    .voteCount-container
      span 112
    button(class="downvote")
      span.glyphicon.glyphicon-triangle-bottom