template(name="account")
  .container.mobile
    .page-header
      h2.accounts
        i.icon-user-outline
        | 프로필 설정
        //-small
          | 아바타, 아이디, 비밀번호 등의 회원정보를 관리하세요.
    .row-fluid
      .col-md-9
        .account-panel.clearfix
          h4.section-heading
            | 아바타
          .section-half
            #preview.avatar-wrapper
              img(src="{{avatar}}")
            button#remove-avatar.btn.btn-md.btn-default(style="margin-top: 10px;")
              i.fa.fa-close
              | <strong>아바타 제거</strong>
          .section-half
            p.section-sub 업로드하실 사진을 선택해주세요
            input#choose-avatar(type="file")
            span 190px x 190px 이상의 사진을 쓰시면 더욱 더 선명한 아바타를 갖게 될 수 있습니다.
            button#upload-avatar.btn.btn-md.btn-green(style="margin-top: 10px;")
              | 업로드
        .account-panel.clearfix
          ul.profile-edit
            li.profile-edit-item.profile-edit-username.clearfix
              .row-fluid.clearfix
                .pull-left
                  h4 아이디
                .pull-right
                  button.btn.btn-md.btn-default.btn-edit
                    | 수정
              .row-fluid
                .inner
                  input#username-edit(value="{{currentUser.profile.username}}")
                  button.btn.btn-green.btn-save-username
                    | 저장
                  p
                    | 아이디는 6~16자이며 띄어쓰기와 특수문자를 사용 할 수 없습니다. 아이디는 한달에 한번밖에 수정이 되지 않으니 신중하게 선택하시길 바랍니다.

            li.profile-edit-item.profile-edit-email.clearfix
              .row-fluid.clearfix
                .pull-left
                  h4 이메일
                .pull-right
                  button.btn.btn-md.btn-default.btn-edit
                    | 수정
              .row-fluid
                .inner
                  input#email-edit(value="{{userEmail}}")
                  button.btn.btn-green.btn-save-email
                    | 저장
                  p
                    | 이메일은 한달에 한번밖에 수정이 되지 않으니 신중하게 선택하시길 바랍니다. 이메일은 비밀번호 복구에 필요로하니 자주 쓰는 이메일 계정이면 더욱 좋습니다.

            li.profile-edit-item.profile-change-password.clearfix
              .row-fluid.clearfix
                .pull-left
                  h4 비밀번호
                .pull-right
                  button.btn.btn-md.btn-default.btn-edit
                    | 수정
              .row-fluid
                .inner
                  input#password-change-current(type="password" placeholder="현재 비밀번호" style="display:block; margin-bottom: 10px;")
                  input#password-change-new(type="password" placeholder="새로운 비밀번호")
                  button.btn.btn-green.btn-save-password
                    | 저장
                  p
                    //- | 이메일은 한달에 한번밖에 수정이 되지 않으니 신중하게 선택하시길 바랍니다. 이메일은 비밀번호 복구에 필요로하니 자주 쓰는 이메일 계정이면 더욱 좋습니다.

      .col-md-3
