template(name="account")
  .container.mobile
    .page-header
      h1.accounts
        i.icon-user-outline
        | 프로필 설정
        small
          | 아바타, 아이디, 비밀번호 등의 회원정보를 관리하세요.
    .row-fluid
      .col-md-8

      .col-md-4