template(name="footer")
  .container
    ul.footer
      li
        a(href="")
          | Home
      li
        a(href="")
          | About
      li
        a(href="")
          | Q&A
      li
        a(href="")
          | help@codemy.io
      li
        a(href="")
          | CODEMY School
          span.badge.badge-primary
            | BETA