template(name="layout")
  +alerts
  //-+sAlert
  +linkModal
  +draftModal
  +draftSaveModal
  #wrapper
    #canvas
      +navbar
      +sidebarNotification
      #inner-body

        .overlay-black
        +yield
      #inner-footer
        +footer


  //- <!-- Modal -->
  //- div.modal.fade#signin-modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  //-   .modal-dialog
  //-     .modal-content
  //-       .modal-header
  //-         button.close(type="button" data-dismiss="modal" aria-label="Close")
  //-           span(aria-hidden="true")
  //-             &times;
  //-       .modal-body
  //-         | ...
  //-       .modal-footer
  //-         button.btn.btn-default(type="button" data-dismiss="modal")
  //-           | Close
  //-         button.btn.btn-primary(type="button")
  //-           | Save changes