template(name="list")
  .container
    ul.posts-sort
      li
        a.active(href="#")
          | New
      li
        a(href="#")
          | Popular
      li
        a(href="#")
          | Needs Answer
    ul.posts-list
      li.question-item.clearfix
        .profile-wrapper.hidden-tn.hidden-xxs
        .question-meta
          h4 부트스트랩에서 LESS를 이용하여 커스터마이징 하기
          p
            span.author
              | Author
            span.comment
              i.fa.fa-comment
              | 5
            span.votes
              i.fa.fa-check
              | 4
            span.answers.visible-tn-inline.visible-xxs-inline.hidden-xs
              i.fa.fa-check
              | 10
        .answer-count.hidden-tn.hidden-xxs
          span.answer
            | Answers
          span.count
            | 10
        .row-fluid(style="margin-top: 10px;")
          .label.label-xs.label-primary
            | javascript
          .label.label-xs.label-primary
            | html
          .label.label-xs.label-primary
            | css
      li.question-item.clearfix
        .profile-wrapper.hidden-tn.hidden-xxs
        .question-meta
          h4 자바스크립트 scope 적용 방법
          p
            span.author
              | Author
            span.comment
              i.fa.fa-comment
              | 3
            span.votes
              i.fa.fa-check
              | -1
            span.answers.visible-tn-inline.visible-xxs-inline.hidden-xs
              i.fa.fa-check
              | 3
        .answer-count.hidden-tn.hidden-xxs
          span.answer
            | Answers
          span.count
            | 3
        .row-fluid(style="margin-top: 10px;")
          .label.label-xs.label-primary
            | javascript
      li.question-item.clearfix
        .profile-wrapper.hidden-tn.hidden-xxs
        .question-meta
          h4 documentExec으로 paste 대체 어떻게 하나요?
          p
            span.author
              | Author
            span.comment
              i.fa.fa-comment
              | 1
            span.votes
              i.fa.fa-check
              | 1
            span.answers.visible-tn-inline.visible-xxs-inline.hidden-xs
              i.fa.fa-check
              | 0
        .answer-count.hidden-tn.hidden-xxs
          span.answer
            | Answers
          span.count
            | 0
        .row-fluid(style="margin-top: 10px;")
          .label.label-xs.label-primary
            | javascript
          .label.label-xs.label-primary
            | wysiwyg
          .label.label-xs.label-primary
            | jquery