h1.accounts-header {
  text-align: center;
  font-weight: bold;
  margin: 1em auto;
}

form.accounts {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  background: @white;
}

form.accounts input {
  height: 45px;
  border: 0;
  background: @background-color;
  border-radius: 3px;
  .transition(100ms ease-in-out all);
  .box-shadow-bottom(2px, @background-color);
  &:focus,
  &:active {
    box-shadow: none;
    border: 0;

    //background: darken(@white, 10%);
    background: @background-color;
    .box-shadow-bottom(2px, darken(@background-color, 10%));
  }
}

form.accounts p {
  margin-top: 15px;
  font-weight: bold;
  .letter-spacing(0.03em);
}
