.editor-outer {
  margin-top: 15px;
  .btn-toolbar {
    margin-bottom: 10px;
  }
}

.editor-wrapper {
  height: 100%;
  min-height: 300px;
  .transition(200ms ease-in-out all);
  border-radius: 3px;
  background: @gray-lightest;
}


.textarea-wrapper,
.preview-wrapper {
  padding: 1.5em;
}


.textarea-wrapper {
  float: left;
  width: 100%;
  min-height: 100%;
  //background: red;
  //border-right: 1px solid @white;

  textarea#editor-content {
    width: 100%;
    min-height: 300px;
    border: 0;
    border-radius: 3px;
    padding: 0.5em;
    &:focus {
      border: 0;
    }
  }
  ::-webkit-resizer {
      display: none;
  }
}

.preview-wrapper {
  .translate(300%);
  display: none;
  float: left;
  width: 50%;
  min-height: 100%;
  //background: yellow;
  z-index: 11;
  .preview-inner {
    background: @white;
    border-radius: 3px;
    min-height: 300px;
    padding: 0.5em;
  }
}

.editor-wrapper.show-preview {
  .preview-wrapper {
    display: block;
    .translate(0);
  }
  .textarea-wrapper {
    width: 50%;
  }
}


@media screen and (max-width:@screen-md) {
  .textarea-wrapper,
  .preview-wrapper {
    float: none;
    width: 100%;
  }

  .editor-wrapper.show-preview {
    .preview-wrapper {
      display: block;
      .translate(0);
    }
    .textarea-wrapper {
      border: 0; // Delete border left
      //border-bottom: 1px solid @gray-lighter;
      width: 100%;
    }
  }
}