.main.postpage {
  padding: 2em 4em;
  padding-top: 0.5em;
  padding-left: 6em;
  pre {
    border: 0;
    // background: #EEEEEE;
  }
  blockquote {
    border-left-color: lighten(@blue, 30%);
    border-left-width: 2px;
    background: lighten(@blue, 50%);
  }
}

// .main.postpage pre code:hover {
//   a.btn-zoom, a.btn-zoomOut {
//     display: inline-block;
//     opacity: 1;
//   }
// }

a.btn-zoom,
a.btn-zoomOut {
  display: none;
  opacity: 0;
  float: right;
  z-index: 99;
  color: lighten(@dark, 60%) !important;
  background: none;
  box-shadow: none !important;
  border-bottom: none;
  opacity: 0.8;
  padding: 0;
  margin: 0;
  .transition(500ms opacity ease-in-out);
}

.main h2.post-title {
  margin: 0;
}

.post-metadata {
  margin-bottom: -0.5em;
  // margin-bottom: -70px; // Voting Wrapper height
}

.main.postpage hr {
  border-width: 3px;
  border-color: @gray-lighter;
}
.post-metadata p {
  position: relative;
  left: -3em;
  display: inline-block;
  margin-bottom: 0;
  color: lighten(@dark, 40%);
}

.post-metadata p.author {

}

.post-metadata p.date {

}

.voting-wrapper {
  text-align: center;
}

.voting-wrapper.post {
  position: relative;
  display: block;
  width: 40px;
  height: 0;
  // top: 0;
  top: ~"calc(1em + 20px)";
  left: -3em;
  .translate(-50%, 0);
}

.post-metadata .profile-wrapper {
  position: relative;
  top: 1em;
  left: ~"calc(-3em - 20px)";
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  //background: @gray;
  box-shadow: 0 0 0 6px lighten(@dark, 40%);
  vertical-align: middle;
  img {
    margin-top: 50%;
    margin-left: 50%;
    width: 100%;

    .translate(-50%, -50%);
  }
}

@media screen and (max-width: @screen-sm) {
  .main.postpage {
    padding: 2em;
  }
  .post-metadata {
    margin-bottom: -1.5em;
  }
  .post-metadata .profile-wrapper {
    top: -1em;
    left: 0;
  }
  .post-metadata p {
    top: -1.7em;
    left: 0.5em;
  }
  .post-metadata p.date {
    display: block;
    left: 3.65em;
    top: -2.6em;
  }
}

@media screen and (max-width: @screen-xs) {
  .main.postpage {
    padding: 0.5em;
  }
  .post-metadata {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .post-metadata p {
    position: static;
    // top: 0;
    // left: 0;
  }
  .post-metadata p.date {
    display: inline-block;
    position: static;
    //left: 3.65em;
    //top: -2.7em;
  }

  a.btn-zoom,
  a.btn-zoomOut {
    display: none !important;
  }
}

