

#inner-wrapper {

}

.overlay-black {
  //display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: rgba(0,0,0, 0.0);
  opacity: 0;
  z-index: 11;
  .transition(1000ms ease-in-out opacity);
}

// .sidebar.right {
//   position: absolute;
//   top: @navbar-height;
//   right: -@sidebar-notification-width;
//   min-height: 100%;
//   z-index: 12;
//   //.transition(250ms cubic-bezier(0,.56,1,.47) all);
//   .transition(250ms ease-in-out all);
// }

.sidebarBlur {
  z-index: 11;
}



#wrapper.sidebar-right-markdown {
  .sidebar.markdown {
    .translate(0);
  }
}

@media screen and (max-width: @screen-xs) {
  .sidebar.right {
    top: @navbar-height-mb;
  }
}