.voting-wrapper {
  .user-select(none);
  a {
    cursor: pointer;
  }
}

a.upvote,
a.downvote {
  &:disabled {
    color: @gray-lightest !important;
  }
}

a.unvote {
  color: @green;
  &:disabled {
    color: @gray-lightest !important;
  }
}

a.undownvote {
  color: @red;
}

a.upvote[disabled="true"],
a.downvote[disabled="true"] {
  pointer-events: none;
}