.btn-green {
  color: @white;
  background-color: @green;
  border-bottom: 3px solid darken(@green, 10%);
  &:hover {
    color: @white;
    background-color: darken(@green, 10%);
  }
  &:focus {
    color: @white;
    background-color: darken(@green, 10%);
  }
}

.btn-upper {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}