template(name="navbar")
  .navbar-codemy
    .container
      ul.navbar
        .pull-left
          li
            a.logo(href="{{pathFor 'list'}}")
                | CODEMY
        .pull-right
          li.hidden-tn.hidden-xxs.hidden-xs
            a(href="#")
              //-i.icon.search
              | Search
          if currentUser
            li
              a.notification(href="#")
                span.badge.badge-red
                  | 10
            //-  +dropdownNotification
            //-li.hidden-tn.hidden-xxs.hidden-xs
              a(href="")
                //-i.li_pen
                | Question
            li.dropdown
              a.dropdown-toggle(href="" data-toggle="dropdown" aria-expanded="true")
                .profile-wrapper
                  img(src="{{avatar}}")
                i.fa.fa-chevron-down
              +dropdownAccount
          else
            li
              a(href="{{pathFor 'signin'}}")
                i.li_settings
                | Sign-In
  .navbar-codemy-sub.visible-xs.hidden-md
    .container
      ul
        li
          a(href="")
            //-i.li_search.hidden-xxs.hidden-tn
            | Search
        li
          a(href="{{pathFor 'submit'}}")
            //-i.li_pen.hidden-xxs.hidden-tn
            | Question