template(name="dropdownAccount")
  ul.dropdown-menu.dropdown-menu-right.account(role="menu")
    li
      a(href="")
        .profile-wrapper
                  img(src="{{avatar}}")
        | {{currentUser.profile.username}}
    li
      a(href="")
        i.icon.coffee
        | {{currentUser.profile.cpoints}}
    li
      a(href="")
        | Account Info
    li.divider
    li
      a#signout(href="")
        | Sign Out