template(name="navbar")
  .navbar-codemy
    .container
      ul.navbar
        .pull-left
          li
            a.logo(href="{{pathFor 'home'}}")
                | CODEMY
        .pull-right
          if currentUser
            li
                a.notification(href="#")
                  span.badge.badge-primary
                    | 10
          li.hidden-tn
            a(href="#")
              i.fa.fa-search
          if currentUser
            li.dropdown
              a.dropdown-toggle(href="" data-toggle="dropdown" aria-expanded="true")
                i.fa.fa-cog
                i.fa.fa-chevron-down
              +dropdownAccount
          else
            li
              a(href="{{pathFor 'signin'}}")
                i.li_settings
                | Sign-In
  .navbar-codemy-sub.visible-tn
    .container
      ul
        li
          a(href="")
            i.icon.search
            | Search
        li
          a(href="{{pathFor 'submit'}}")
            i.icon.write
            | Ask Question
