template(name="answerItem")
  hr
  .main.postpage
    .post-header
      .post-side
        .profile-wrapper.hidden-tn.hidden-xxs.hidden-xs(class="{{userStatusBorder}}")
              img(src="/img/avatar.png")
        +votingAnswer

      .post-metadata.clearfix
        if ownPost
          button.answer-check(class="{{checkedState}}" $dyn = checkDisabled)
            i.icon.check
        else // If not OP
          if checkedAnswer
            button.answer-check(class="checkedAnswer" disabled)
              i.icon.check
        p
          span.author
            | <strong>{{user.username}} {{isonline}}</strong>
          span.date
            | {{moFromNow createdAt withoutSuffix}}
        h2.post-title {{user.username}}님의 답변
    .post-body
      hr
      .body-content.clearfix
        +markdown
          {{content}}
        if currentUser
          .row-fluid.clearfix
            .btn-group.pull-right
              button.btn.btn-default.btn-xs(data-toggle="dropdown" aria-expanded="false")
                | ...
              +dropdownAnswerItem
        .row-fluid
          .delete-confirm(style="margin-top: 10px;" id="answer-{{_id}}")
            h4 해당 게시물을 삭제하시겠습니까?
            p 코데미에선 차후에 유저들이 정보를 입수 할 수 있게 게시물 삭제를 추천하지 않습니다.
            p 그래도 삭제하시겠습니까?
            button.btn.btn-confirm-delete
              | 예
            button.btn.btn-confirm-cancel
              | 아니요
      ul.comments-list
        each commentAnswer
          +commentItem
        if nextPath
          a.load-more-commentAnswer(href="")
            | 더 보기
      a.add-comment(href="")
        | <strong>댓글 남기기</strong>
      +commentAnswerSubmit
   .post-footer