template(name="answerItem")
  hr
  .main.postpage
    .post-header
      .post-side
        .profile-wrapper.hidden-tn.hidden-xxs.hidden-xs(class="{{userStatusBorder}}")
              img(src="/img/avatar.png")
        +votingAnswer

      .post-metadata.clearfix
        if ownPost
          button.answer-check(class="{{checkedState}}" $dyn = checkDisabled)
            i.icon.check
        if checkedAnswer
          button.answer-check(class="checkedAnswer" disabled)
            i.icon.check
        p
          span.author
            | <strong>{{user.username}} {{isonline}}</strong>
          span.date
            | {{moFromNow createdAt withoutSuffix}}
        h2.post-title {{user.username}}님의 답변
    .post-body
      hr
      .body-content
        +markdown
          {{content}}
      ul.comments-list
        each commentAnswer
          +commentItem
        if nextPath
          a.load-more-commentAnswer(href="")
            | 더 보기
      a.add-comment(href="")
        | <strong>댓글 남기기</strong>
      +commentAnswerSubmit
   .post-footer