template(name="postPage")
  .container
    .main.postpage
      .post-header
        .post-side
          .profile-wrapper.hidden-tn.hidden-xxs.hidden-xs
                img(src="/img/avatar.png")
          +voting
        .post-metadata.clearfix
          p
            span.author
              | <strong>{{user.username}}</strong>
            span.date
              | {{createdAt}}
          h2.post-title {{title}}
      .post-body
        hr
        +markdown
          {{content}}
