template(name="postPage")
  .container
    .main.postpage
      .post-metadata

        .profile-wrapper.hidden-tn.hidden-xxs
          img(src="/img/avatar.png")
        p.author
          | <strong>{{user.username}}</strong>
        p.date
          | {{createdAt}}
        +voting
      h2.post-title {{title}}
      hr
      p
        +markdown
          {{content}}
