template(name="postPage")
  //div(style="margin-top: 10px;")
  .container.mobile
    .col-postPage
      .main.postpage
        .post-header
          .post-side
            .profile-wrapper.hidden-tn.hidden-xxs.hidden-xs(class="{{userStatusBorder}}")
                  img(src="/img/avatar.png")
            +voting
          .post-metadata.clearfix
            p
              span.author
                | <strong>{{user.username}} {{isonline}}</strong>
              span.date
                | {{moFromNow createdAt withoutSuffix}}에 작성
            h2.post-title {{title}}
        .post-body
          hr
          .body-content
            +markdown
              {{content}}
            .row-fluid.clearfix
              if currentUser
                .btn-group.pull-right
                  button.btn.btn-default.btn-xs(data-toggle="dropdown" aria-expanded="false")
                    | ...
                  +dropdownPostPage
            .row-fluid
              if editted
                span {{moFromNow updatedAt withoutSuffix}}에 수정됨
            .row-fluid
              .delete-confirm(style="margin-top: 10px;" id="post-{{_id}}")
                h4 해당 게시물을 삭제하시겠습니까?
                p 코데미에선 차후에 유저들이 정보를 입수 할 수 있게 게시물 삭제를 추천하지 않습니다.
                p 그래도 삭제하시겠습니까?
                button.btn.btn-confirm-delete
                  | 예
                button.btn.btn-confirm-cancel
                  | 아니요
          ul.comments-list
            each comments
              +commentItem
            if nextPath
              a.load-more-comments(href="")
                | 더 보기
          a.add-comment(href="")
            | <strong>댓글 남기기</strong>
          +commentSubmit
      .post-footer




      //-Each Answers Layout

      each answers
        +answerItem


    .col-postPage-aside
      p
        i.fa.fa-coffee
        | &nbsp; {{cpointsAuthor}}
      p
        i.fa.fa-eye
        | &nbsp; {{views}}
      img.img-responsive(src="/img/ad1.jpg" style="margin-bottom: 10px;")
      img.img-responsive(src="/img/ad2.png")
  .container.mobile
    hr
  +submit