template(name="list")
  .container.mobile
    .main.postslist.clearfix
      ul.posts-sort.clearfix
        li
          a(href="{{pathFor 'newPosts'}}" class="{{activeRoute 'newPosts'}}")
            | New
        li
          a(href="{{pathFor 'bestPosts'}}" class="{{activeRoute 'bestPosts'}}")
            | Popular
        li
          a(href="")
            | Needs Answer
        //- if currentUser
        a.btn.btn-sm.btn-o.btn-o-green.hidden-xs.hidden-xxs.hidden-tn.btn-ask(href="{{pathFor 'submit'}}" style="float:right;")
          | 잘문하기
        //- else
          a.btn.btn-sm.btn-o.btn-o-green.hidden-xxs.hidden-tn.btn-ask(href="{{pathFor 'signin'}}" style="float:right;")
              | Ask Question
      ul.posts-list
        each posts
          +postItem
      if nextPath
        a.load-more(href="{{nextPath}}")
      else
        unless ready
          // Spinner Here
