template(name="draftModal")
  .modal.fade.draftModal(id="draftModal")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true")
            span(aria-hidden="true")&times;
          h4.modal-title
            | Drafts
            small Load ({{draftCount}})
        .modal-body
          ul.draft-list
            +each draft
              li.draft.clearfix
                a(href="") {{title}}
                button.btn.btn-xs.btn-red.btn-delete
                  | Delete
