template(name="draftSaveModal")
  .modal.fade.draftModal(id="draftSaveModal")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true")
            span(aria-hidden="true") &times;
          h4.modal-title
            | SAVE
            small Confirm Save?
        .modal-body
          p <strong>Preview</strong>
          h4.draft-title
            | {{session 'editor-title'}}
          | {{#markdown}}{{session 'editor-content'}}{{/markdown}}
        .modal-footer
          button.btn.btn-o.btn-o-green.btn-save
            | YES
          button.btn.btn-o(data-dismiss="modal")
            | NO