template(name="draftModal")
  .modal.fade.draftModal(id="draftModal")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true")
            span(aria-hidden="true") &times;
          h4.modal-title
            | Drafts
            small Load ({{draftCount}})
        .modal-body
          ul.draft-list
            +HammerTouchArea(initOptions=configureHammer gestureMap=templateGestures)
              +each draft
                li.draft.clearfix
                  .draft-inner(style="padding: 1em;")
                    a(href="") {{title}}
                  button.btn-delete
                    i.fa.fa-trash.fa-2x
            if nextPath
              li
                a.load-more-draft(href="")
                  | 더 보기

//initOptions=hammerInitOptions