template(name="draftModal")
  .modal.fade.draftModal(id="draftModal")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true")
            | x
          h4.modal-title
            | 임시저장
        .modal-body
          +each draft
            li
              p {{title}}
              button.btn.btn-xs.btn-red.btn-delete
                | Delete Draft
        .modal-footer
          button.btn.btn-primary
            | 네
          button.btn.btn-default(data-dismiss="modal")
            | 아니요