template(name="editor")

    .editor-outer
      .row-fluid
        .btn-toolbar

      .row-fluid
        .editor-wrapper.clearfix.show-preview
          if currentRoute 'submit'
            .row-fluid
              label TITLE
              span.draftMode {{draftMode}}
              div(style="float:right;")
                label.char-count-title 0
                span.char-limit-title
              input(type="text" id="editor-title")
          if currentRoute 'postPage'
            .row-fluid
              h4(style="margin-top: 0px;") Your Answer
          .editor-content.clearfix
            +editorToolbar
            .textarea-wrapper
              label MARKDOWN
              div(style="float:right;")
                label.char-count-content 0
                span.char-limit-content
              textarea(id="editor-content")
            .preview-wrapper
              label MARKDOWN PREVIEW
              .preview-inner
                | {{#markdown}}{{session 'editor-content'}}{{/markdown}}
          .editor-bottom
            button.btn.btn-green.btn-submit
              | 질문하기
            //-button.btn.btn-info.btn-draft
              | Save Draft
