template(name="editor")
  .container
    .editor-outer
      .row-fluid
        .btn-toolbar

      .row-fluid
        .editor-wrapper.clearfix.show-preview
          .row-fluid
            label TITLE
            div(style="float:right;")
              label.char-count-title 0
              span.char-limit-title
            input(type="text" id="editor-title")
          .editor-content.clearfix
            +editorToolbar
            .textarea-wrapper
              label MARKDOWN
              div(style="float:right;")
                label.char-count-content 0
                span.char-limit-content
              textarea(id="editor-content")
            .preview-wrapper
              label MARKDOWN PREVIEW
              .preview-inner
                | {{#markdown}}{{session 'editor-content'}}{{/markdown}}
          .editor-bottom
            button.btn.btn-green.btn-submit
              | 질문하기
            //-button.btn.btn-info.btn-draft
              | Save Draft

template(name="draftModal")
  .modal.fade.draftModal(id="draftModal")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true")
            | x
          h4.modal-title
            | 임시저장
        .modal-body
          +each draft
            li
              p {{name}}
              button.btn.btn-xs.btn-red.btn-delete
                | Delete Draft
        .modal-footer
          button.btn.btn-primary
            | 네
          button.btn.btn-default(data-dismiss="modal")
            | 아니요

template(name="draftSaveModal")
  .modal.fade.draftModal(id="draftSaveModal")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true")
            | x
          h4.modal-title
            | 임시저장
        .modal-body
          label(for="draft-name")
          input#draft-name
        .modal-footer
          button.btn.btn-primary.btn-save
            | 네
          button.btn.btn-default(data-dismiss="modal")
            | 아니요