template(name="editorToolbar")
  ul.editor-toolbar
    //- Bold
    li
      a.btn.btn-gray.e-bold(href="" tabindex='-1' data-toggle="tooltip" data-placement="top" title="Bold")
        i.icon.bold
    //- Italic
    li
      a.btn.btn-gray.e-italic(href="" tabindex='-1' data-toggle="tooltip" data-placement="top" title="Italic")
        i.icon.italic

    //- Code
    li
      a.btn.btn-gray.e-code(href="" tabindex='-1' data-toggle="tooltip" data-placement="top" title="Code")
        i.icon.code

    //- Blockquote
    li
      a.btn.btn-gray.e-blockquote(href="" tabindex='-1' data-toggle="tooltip" data-placement="top" title="Blockquote")
        i.fa.fa-quote-left

    //- Link
    li.dropdown.link(data-toggle="tooltip" data-placement="top" title="Link")
      a.btn.btn-gray.e-link.dropdown-toggle(href="" tabindex='-1' data-toggle="modal" data-target="#linkModal")
        i.icon.linkify

    //- Preferences Dropdown
    li.dropdown.editor-preferences(style="float:right")
      a.btn.btn-gray.dropdown-toggle(href="" data-toggle="dropdown" aria-expanded="true")
        i.fa.fa-cog
      ul.dropdown-menu.dropdown-menu-right.dropdown-toolbar(role="menu")
        //- Preview
        li
          a.btn-preview(href="" tabindex='-1')
            | Preview
            span.badge(class="{{previewStateColor}}")
              | {{previewState}}

        //- AutoSize
        li
          a.btn-autosize(href="" tabindex='-1')
            | Autosize
            span.badge(class="{{autosizeStateColor}}")
              | {{autosizeState}}


        if loadedDraft
          //- If in Draft mode
          //- New
          li
            a.btn-new(href="" tabindex='-1')
              | New


        else
          //- If not in Draft Mode
          //- Save Draft
          li
            a.btn-save-draft(href="" tabindex='-1' data-toggle="modal" data-target="#draftSaveModal")
              | Save Draft


        if loadedDraft
          //- If in Draft Mode
          //- Save
          li
            a.btn-save-loaded(href="" tabindex='-1')
              | Save

          //- Save As
          li
            a.btn-save-as(href="" tabindex='-1' data-toggle="modal" data-target="#draftSaveModal")
              | Save As...

        //- Load Draft
        li
          a.btn-load-draft(href="" tabindex='-1' data-toggle="modal" data-target="#draftModal")
            | Load Draft


        if loadedDraft
          //- If in Draft Mode
          //- Autosave
          li
            a.btn-autosave(href="" tabindex='-1')
              | Autosave
              span.badge(class="{{autosaveStateColor}}")
                | {{autosaveState}}
