template(name="editor")
  .container
    .editor-outer
      .row-fluid
        .btn-toolbar

      .row-fluid
        .editor-wrapper.clearfix.show-preview
          .row-fluid
            label TITLE
            div(style="float:right;")
              label.char-count-title 0
              span / 50 characters
            input(type="text" id="editor-title")
          .editor-content.clearfix
            +editorToolbar
            .textarea-wrapper
              label MARKDOWN
              div(style="float:right;")
                label.char-count-content 0
                span / 10,000 characters
              textarea(id="editor-content")
            .preview-wrapper
              label MARKDOWN PREVIEW
              .preview-inner
                | {{#markdown}}{{session 'editor-content'}}{{/markdown}}
          .editor-tags

          .editor-bottom
            button.btn.btn-green.btn-submit
              | 질문하기
            //-button.btn.btn-info.btn-draft
              | Save Draft


