template(name="editor")

    .editor-outer
      .row-fluid
        .editor-wrapper.clearfix.show-preview
          if currentRoute 'submit'
            .row-fluid
              label 제목
              span.draftMode {{draftMode}}
              div(style="float:right;")
                label.char-count-title 0
                span.char-limit-title
              input(type="text" id="editor-title" value="{{title}}")
          if currentRoute 'postEdit'
            .row-fluid
              label 제목
              span.draftMode {{draftMode}}
              div(style="float:right;")
                label.char-count-title 0
                span.char-limit-title
              input(type="text" id="editor-title" value="{{title}}")
          if currentRoute 'answerEdit'
            .row-fluid
              h3(style="margin-top: 0;") 답변 수정
          .editor-content.clearfix
            +editorToolbar
            .textarea-wrapper
              label 마크다운
              div(style="float:right;")
                label.char-count-content 0
                span.char-limit-content
              if currentRoute 'postEdit'
                textarea(id="editor-content")
                  | {{content}}
              else
                if currentRoute 'answerEdit'
                  textarea(id="editor-content")
                    | {{content}}
                else
                  textarea(id="editor-content")
            .preview-wrapper
              label 마크다운 미리보기
              .preview-inner
                | {{#markdown}}{{session 'editor-content'}}{{/markdown}}
            if currentRoute 'submit'
              .tag-wrapper
                label
                  | 태그
                  small (엔터와 스페이스로 태그를 추가하세요)
                select.tagsinput(multiple id="tagsinput" data-role="tagsinput")
            if currentRoute 'postEdit'
              .tag-wrapper
                label
                  | 태그
                  small (엔터와 스페이스로 태그를 추가하세요)
                select.tagsinput(multiple id="tagsinput" data-role="tagsinput")
                  each tags
                    option(value="{{this}}")
                     | {{this}}

          .editor-bottom
            button.btn.btn-green.btn-submit
              if currentRoute 'submit'
                | 질문하기
              else
                if currentRoute 'postPage'
                  | 답변하기
                else //- Includes postEdit and answerEdit
                  | 저장하기
              .loader
            //-button.btn.btn-info.btn-draft
              | Save Draft
